html{
	display: flex;
	justify-content: center;
	position: relative;
}
body{
	background: #fff;
	color: #222;
	padding: 1em;
	margin: 0;
	max-width: 1024px;
	width: 100%;
	/*border: 1px solid #000;*/
	font-size: 17px;
}
section{
	margin: 0 0 2em;
}
article{
	line-height: 1.25;
}

#s-2 ul{
	padding: 0 0 0 1em;
	margin: 0;
}
sup.jtt{
	color: #777;
	cursor: help;
}
.fs05{
	font-size: 0.5em;
}
sup.fs05{
	line-height: inherit;
	vertical-align: super;
	font-size: 0.5em;
}
a.on::after,
a.off::after{
	/* content: "\1F7E2"; */ /* 🟢 green circle or use ✅ */
	content: "✔️";
	vertical-align: super;
	top: -0.25em;
	font-size: 0.5em;
	/* margin-left: 0.25em; */
}
a.off::after{
	/* content: "\1F534"; */ /* 🔴 red circle */
	content: "❌";
}
#language-mod>a{
	opacity: 1;
}
#header{
	background-color: transparent !important;
	justify-content: flex-end;
	left: unset;
}
a.btn:hover,
a.btn:active{
	color: #f7f7f7;
}
.btn.btn-back{
	position: fixed;
	left: 0;
	top: 0;
	display: inline;
}
.short-info > p{
	margin: 0.75em 0;
}

@media (max-width:768px) {
	.btn.btn-back{
		top: unset;
		bottom: 0;
	}
}

#s-1{
	margin-bottom: 1.5em;
}

#s-2 h2{
	padding-top: 0;
}
#s-2 h2 > em{
	text-decoration: underline;
	text-decoration-color: green;
}

#s-2>ul{
	line-height: 1.5em;
}
#s-2>ul>li>p>span{
	margin: 0 0 0 0.5em;
}
#s-3 h3{
	padding-top: 0;
}

section + hr{
	margin: 2em 0;

	height: 1px;
	color: #0000004d;
	border-color: #0000004d;
	border-style: solid;
}

.m2-0{
	margin: 2em 0;
}
.pt0{
	padding-top: 0;
}

.cb{
	clear: both;
}
.square{
	display: none;
	/* display: inline-flex; */
	align-items: center;
	justify-content: center;
	width: 0.75em;
	height: 0.75em;
	border: 2px solid;
}
.headline{
	padding-top: 0;
	margin-bottom: 1em;
}
.headline_skils{

}

.green{
	color: green;
}
.print-db{
	display: none;
}
section blockquote{
	border-color: green;
	margin-left: 0;
	line-height: 1.25;
}


@media print {

	.square{
		display: inline-flex;
	}
	.print-dn{
		display: none !important;
	}

	.print-db{
		display: block !important;
	}

	.pbr{
		page-break-before: always;
		break-before: always;
	}

	body{
		padding-top: 0;
	}
	h1, .h1 {
		font-size: 1.5em;
		padding: 0 0 0.5em ;
	}
	h1{
		margin-top: 0;
		padding-top: 0 !important;
	}
	sup[title]{
		display: none;
	}


	#s-1 .purpose{
		margin-top: 2em;
		margin-bottom: 0;
	}

	#s-1 .dfwsa{
		display: block;
	}
	#s-1 .dfwsa>.print-fl{
		float: left;
		margin-top: 1em;
		margin-left: 10%;
	}
	#s-1 .dfwsa>.print-fr{
		float: right;
		margin-right: 10%;
	}


	#s-2 .about-tech{
		margin-top: 2em;
	}

	#s-2 li{

	}

	#s-4{
		page-break-before: always;
	}

	#s-5{
		margin-top: 4em;
	}
	a.on::after{
		content: unset;
		display: none;
	}


	@page {
		size: auto;   /* auto is the initial value */

		/* this affects the margin in the printer settings */
		/* margin: 20mm 15mm 20mm 15mm; */
		margin: 7.5mm 15mm 20mm 7.5mm;
	}
}
@media (max-width:1024px) {

}

@media (max-width:768px) {

	body{
		padding: 1em 1%;
	}

	h1, h2{
		font-size: 1.25em;
		padding-top: 1.25em;
	}
	h3{
		font-size: 1.15em;
	}
	.headline{
		font-size: 0.7em;
	}
	sup[title]{
		display: none;
	}
	p a,
	p b,
	p strong,
	li a,
	li b,
	li strong{
		display: inline;
		/* white-space: nowrap; */
	}
}